
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #969393;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 600px;
    margin: 80px auto;
    padding: 2rem;
    height: 48vh;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

.button {
    margin: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #4F8CBF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #4198df;
}
.feature{
    margin: 10px;
}
footer {
    text-align: center;
    padding: 1rem;
    background-color: #969393;
    color: #fff;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .container {
        padding: 1rem;
    }
}
