
.sidebar{
    height: 100vh;
}.changeP{
    margin: 30px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
}
input{
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}
textarea{
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}
.btnS {
    margin-top: 15px;
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #Ffffff;
    background: #4F8CBF;
    border-radius: 5px;
    border: 1px solid #dfd7ca;
    text-transform: uppercase;
    font-weight: 500;

}
.message{
    margin: 30px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: black;
    font: bold;
    

}