
.sidebar{
    height: 100vh;
}.changeP{
    margin: 30px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
}
.btnS {
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #Ffffff;
    background: #4F8CBF;
    border-radius: 5px;
    border: 1px solid #dfd7ca;
    text-transform: uppercase;
    font-weight: 500;

}
input{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
}
th, td{
    border: none;
}
select{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
}
.complain{
    display: flex;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    flex-direction: column;
    margin-left: 200px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #2b2929; 
}
.complaint-head{
    font-size: 36px;
    padding: 20px; 
    font-weight: bold;
}
.complaint-body{
    font-size: 20px;
    padding: 20px;
}